<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eventos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="eventos-content">
  <ion-segment class="eventos-segment" [(ngModel)]="segmento">
    <ion-segment-button value="hoy">
      Hoy
    </ion-segment-button>
    <ion-segment-button value="proximas">
      Próximas
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="segmento">
    <div *ngSwitchCase="'hoy'">
      <ion-list class="eventos-list">
        <ion-item class="eventos-item" *ngIf="eventos?.hoy.length == 0">
          <ion-row>
            <ion-column col-12 class="eventos-data">
              <div class="data-item">
                <div class="item-content">
                  <div class="item-description">
                    <ion-icon class="description-icon" name="information-circle"></ion-icon>
                    <p class="description-text">No existen eventos para el día de hoy.</p>
                  </div>
                </div>
              </div>
            </ion-column>
          </ion-row>
        </ion-item>
        <ion-item class="eventos-item" *ngFor="let item of eventos?.hoy">
          <ion-row (click)="abrirEvento(item)">
            <ion-col col-3 class="eventos-date">
              <h2 class="eventos-day">{{ item.fecha.dia }}</h2>
              <h3 class="eventos-month">{{ item.fecha.mes_nombre }}</h3>
              <h4 class="eventos-time">{{ item.fecha.tiempo }}</h4>
            </ion-col>
            <ion-col col-9 class="eventos-data">
              <div class="data-item">
                <div class="item-content">
                  <h2 class="item-title one-line">{{ item.titulo }}</h2>
                  <div class="item-description">
                    <ion-icon class="description-icon" name="clock"></ion-icon>
                    <p class="description-text">{{ item.fecha.completa }}</p>
                  </div>
                  <div class="item-description">
                    <ion-icon class="description-icon" name="navigate"></ion-icon>
                    <p class="description-text one-line">{{ item.lugar }}</p>
                  </div>
                </div>
                <ion-icon class="item-icon" name="arrow-forward"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'proximas'">
      <ion-list class="eventos-list">
        <ion-item class="eventos-item" *ngIf="eventos?.proximos.length == 0">
          <ion-row>
            <ion-column col-12 class="eventos-data">
              <div class="data-item">
                <div class="item-content">
                  <div class="item-description">
                    <ion-icon class="description-icon" name="information-circle"></ion-icon>
                    <p class="description-text">No existen eventos para los próximos días.</p>
                  </div>
                </div>
              </div>
            </ion-column>
          </ion-row>
        </ion-item>
        <ion-item class="eventos-item" *ngFor="let item of eventos?.proximos">
          <ion-row (click)="abrirEvento(item)">
            <ion-col col-3 class="eventos-date">
              <h2 class="eventos-day">{{ item.fecha.dia }}</h2>
              <h3 class="eventos-month">{{ item.fecha.mes_nombre }}</h3>
              <h4 class="eventos-time">{{ item.fecha.tiempo }}</h4>
            </ion-col>
            <ion-col col-9 class="eventos-data">
              <div class="data-item">
                <div class="item-content">
                  <h2 class="item-title one-line">{{ item.titulo }}</h2>
                  <div class="item-description">
                    <ion-icon class="description-icon" name="clock"></ion-icon>
                    <p class="description-text">{{ item.fecha.completa }}</p>
                  </div>
                  <div class="item-description">
                    <ion-icon class="description-icon" name="navigate"></ion-icon>
                    <p class="description-text one-line">{{ item.lugar }}</p>
                  </div>
                </div>
                <ion-icon class="item-icon" name="arrow-forward"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
