eventos-info-page {
  .rating-label {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: $theme-color-2;
    display: block;
  }

  .ratings-list {
    @include rating-item-styles($white-d, $theme-color-1);

    .rating-item {
      text-align: center !important;
    }
  }

  .evento-content {
    background-color: color($colors, background, base);

    .evento-item {
      @include basic-card-styles($white-d);

      ion-card {
        ion-card-content {
          div.item-title {
            margin: 0px;
            margin-bottom: 12px;
            padding: 0px;
            letter-spacing: 1.1px;
            color: $theme-color-2;
          }

          div.item-description {
            line-height: 1.6;
            color: #151515;
            margin: 0px;
            text-align: justify !important;
          }

          .user-image {
            border-radius: 50%;
          }

          .user-name {
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 0.2px;
            color: $theme-color-1;
            margin: 0px;
          }

          .user-info {
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: 0.2px;
            color: $white-d;
            display: block;
            text-align: left;
            line-height: 1.6;
          }
        }
      }
    }
  }
}