<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>{{ evento?.titulo }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="evento-content">
  <div class="evento-item">
    <ion-card>
      <preload-image [ratio]="{ w: 2, h: 1 }" [src]="evento?.imagen"></preload-image>
      <ion-card-content>
        <ion-card-title class="item-title">
          {{ evento?.titulo }}
        </ion-card-title>
        <div class="item-text">
          <ion-icon name="calendar"></ion-icon>
          {{ evento?.fecha.completa }}
        </div>
        <div class="item-text">
          <ion-icon name="navigate"></ion-icon>
          {{ evento?.lugar }}
        </div>
        <hr />
        <div class="item-description">
          <ion-icon name="information-circle"></ion-icon>
          {{ evento?.cuerpo }}
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>