page-deudas {
  .deudas-item {
    border-radius: 5px;

    ion-item {
      background-color: $theme-color-2;
    }

    .gratuidad-titulo {
      font-weight: 500;
      color: $theme-color-4;
    }

    .saldo-titulo {
      font-weight: 500;
      color: $white-a;
    }

    .gratuidad-texto,
    .saldo-texto {
      color: $white-a;
    }

    .deudas-text {
      color: $theme-color-7;
    }
  }
}