<ion-header>
  <ion-navbar>
    <ion-title>{{ asignatura?.nombre }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <p class="text-app">
    Puedes presionar los botones listados a continuación para usar las funcionalidades asociadas a la asignatura dictada.
  </p>
  <!-- Enviar notificación -->
  <div>
    <button ion-button block (click)="abrirNotificacion(asignatura)" class="btn-app">
      <ion-grid>
        <ion-row>
          <ion-col text-left col-9>
            <ion-icon name="alert"></ion-icon>&nbsp;
            Enviar notificación
          </ion-col>
          <ion-col text-right col-3>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </div>
  <!-- Enviar correo -->
  <div>
    <button ion-button block (click)="abrirCorreo(asignatura)" class="btn-app">
      <ion-grid>
        <ion-row>
          <ion-col text-left col-9>
            <ion-icon name="mail"></ion-icon>&nbsp;
            Enviar correo
          </ion-col>
          <ion-col text-right col-3>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </div>
  <!-- Entrar Aula Virtual -->
  <div>
    <button ion-button block (click)="abrirAulaVirtual(asignatura)" class="btn-app">
      <ion-grid>
        <ion-row>
          <ion-col text-left col-9>
            <ion-icon name="person"></ion-icon>&nbsp;
            Entrar Aula Virtual
          </ion-col>
          <ion-col text-right col-3>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </div>
</ion-content>