<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Puntos de interés</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="card-background-page">
  <div>
    <ion-searchbar
      placeholder="Buscar punto"
      [(ngModel)]="str_punto"
      [showCancelButton]="true"
      (ionInput)="buscarPunto($event)"
      (ionCancel)="cancelarBusqueda($event)">
    </ion-searchbar>
  </div>
  <p *ngIf="puntosFiltrados?.length == 0" text-center>
    <ion-icon name="information-circle"></ion-icon>&nbsp;
    No existen puntos a mostrar.
  </p>
  <ion-card *ngFor="let item of puntosFiltrados" (click)="abrirMapa(item)">
    <img [src]="item.imagen"/>
    <div class="card-title">{{ item.nombre }}</div>
    <div class="card-subtitle">{{ item.direccion }}</div>
  </ion-card>
</ion-content>