<ion-header class="presentacion-header">
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button class="skip-button" (click)="skipIntro()" [hidden]="lastSlide">Saltar</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="presentacion-content">
  <ion-slides #slider (ionSlideDidChange)="onSlideChanged()" pager="true">
    <ion-slide class="slide-1">
      <ion-row class="intro-image-row">
        <ion-col center col-7 no-padding>
          <preload-image [ratio]="{ w: 1, h: 0.5 }" src="./assets/images/logos/logo_uv.png" alt="Universidad de Valparaíso" title="Universidad de Valparaíso"></preload-image>
        </ion-col>
      </ion-row>
      <h2 class="main-title">¡Bienvenido!</h2>
      <p class="intro-text">
        Esta es la nueva aplicación <b>AppTUI</b> de la Universidad de Valparaíso
      </p>
      <ion-grid>
        <ion-row text-center>
          <ion-col col-12>
            <preload-image [ratio]="{ w: 0.5, h: 1 }" src="./assets/images/logos/logo_obbtui_big.png" class="logo-obbtui"></preload-image>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-row class="intro-image-row">
        <ion-col center col-7 no-padding>
          <preload-image [ratio]="{ w: 1, h: 1 }" src="./assets/images/presentacion/novedades.png"></preload-image>
        </ion-col>
      </ion-row>
      <h2 class="main-title">Novedades</h2>
      <p class="intro-text">
        Infórmate de las novedades y noticias de la Universidad
      </p>
    </ion-slide>
    <ion-slide>
      <ion-row class="intro-image-row">
        <ion-col center col-7 no-padding>
          <preload-image [ratio]="{ w: 1, h: 1 } " src="./assets/images/presentacion/asignaturas.png"></preload-image>
        </ion-col>
      </ion-row>
      <h2 class="main-title">Asignaturas</h2>
      <p class="intro-text">
        Revisa tus asignaturas inscritas
      </p>
    </ion-slide>
    <ion-slide>
      <ion-row class="intro-image-row">
        <ion-col center col-7 no-padding>
          <preload-image [ratio]="{ w: 1, h: 1 } " src="./assets/images/presentacion/horario.png"></preload-image>
        </ion-col>
      </ion-row>
      <h2 class="main-title">Horario</h2>
      <p class="intro-text">
        Revisa tu horario en base a tus asignaturas inscritas
      </p>
    </ion-slide>

    <ion-slide class="slide-last">
      <ion-row class="intro-image-row">
        <ion-col center col-7 no-padding>
          <preload-image [ratio]="{ w: 1, h: 1 }" src="./assets/images/presentacion/empezar.png"></preload-image>
        </ion-col>
      </ion-row>
      <h2 class="main-title">¡Casi terminamos!</h2>
      <p class="intro-text">
       Inicia sesión con tu cuenta para utilizar los beneficios de la aplicación
      </p>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <button ion-button block class="btn-acceder" (click)="acceder()">
              <ion-icon name="log-in"></ion-icon>&nbsp;
              Iniciar sesión
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
