<ion-header>
  <ion-navbar>
    <ion-title>Enviar correo</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h3 text-center>{{ asignatura?.nombre }}</h3>
  <ion-list>
    <ion-item>
      <ion-label color="dark" stacked>Asunto</ion-label>
      <ion-input [(ngModel)]="correo.asunto" placeholder="Título del correo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark" stacked>Mensaje</ion-label>
      <ion-textarea [(ngModel)]="correo.mensaje" placeholder="Cuerpo del correo electrónico" rows="5" required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="dark">¿Enviar a todos?</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="lista"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="!lista">
      <ion-label color="dark" stacked>Estudiantes</ion-label>
      <ion-select [(ngModel)]="correo.estudiantes" multiple="true" required>
        <ion-option *ngFor="let item of estudiantes" [value]="item?.correo">{{ item?.nombre }}</ion-option>
      </ion-select>
    </ion-item>
    <div text-right>
      <button ion-button block icon-end class="btn-app" (click)="enviarCorreo()">
        Enviar
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </div>
  </ion-list>
</ion-content>